# filetype for node.js
snippet ft-node
	/* `'vim'`: set filetype=javascript.node : */ 

# filetype for angular.js
snippet ft-angular
	/* `'vim'`: set filetype=javascript.angular : */ 

# filetype for Gruntfiles
snippet ft-grunt
	/* `'vim'`: set filetype=javascript.grunt : */ 

# comments to configure jshint
snippet jshint
	/***** JSHint options and settings *****/
	/* jshint node:${1:true}               */
	/***************************************/
