[submodule "salesforce-cli-zsh-completion"]
	path = salesforce-cli-zsh-completion
	url = https://github.com/wadewegner/salesforce-cli-zsh-completion.git
[submodule "zsh-autosuggestions"]
	path = zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "vim/--force"]
	path = vim/--force
	url = https://github.com/VundleVim/Vundle.vim
[submodule "vim/Vundle.vim"]
	path = vim/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim
