[submodule "salesforce-cli-zsh-completion"]
	path = salesforce-cli-zsh-completion
	url = https://github.com/wadewegner/salesforce-cli-zsh-completion.git
[submodule "zsh-autosuggestions"]
	path = zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
